{% extends '_base.html' %}
{% from 'plus/_find.html' import findbox %}

{% block content %}
<div class="columns">
  <div class="column is-8-desktop is-offset-2-desktop">
    <div class="content">
      <h2>Plus</h2>
      <div>
        <ul>
          <li><a href="{{ url_for('plus.show') }}">Tabelle</a></li>
          <li><a href="{{ url_for('plus.block') }}">Blockiert</a></li>
        </ul>
      </div>
    </div>
    {% if form %}
    <div class="content">
      <h2>Suchen</h2>
      <div>
        {{ findbox(form) }}
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
