{% extends '_base.html' %}
{% from 'plus/_find.html' import findbox %}
{% from 'plus/_func.html' import pagination %}

{% macro heading() %}
  {% macro order_urls(field) %}
    <a href="{{ url_for(request.endpoint, page=1, field=field, sort='asc', **request.args) }}">&#8593;</a>
    <a href="{{ url_for(request.endpoint, page=1, field=field, sort='desc', **request.args) }}">&#8595;</a>
  {% endmacro %}

<tr>
  <th>
    <abbr title="Primary ID">Prime</abbr>
    {{ order_urls('prime') }}
  </th>
  <th>
    Symbol
    {{ order_urls('symbol') }}
  </th>
  <th>
    Target
    {{ order_urls('target') }}
  </th>
  <th>
    <abbr title="Forward delay in seconds">Delay</abbr>
    {{ order_urls('delay') }}
  </th>
  <th>
    Active
    {{ order_urls('active') }}
  </th>
  <th>
    <abbr title="Visit counter">Visited</abbr>
    {{ order_urls('visited') }}
  </th>
  <th>
    <abbr title="Creation Date (UTC)">Created</abbr>
    {{ order_urls('created') }}
  </th>
</tr>
{% endmacro %}

{% macro element(item) %}
<tr>
  <td>{{ item.prime }}</td>
  <td><a href="{{ url_for('main.short', symb=item.symbol) }}">{{ item.symbol }}</a></td>
  <td>{{ item.target|urlize(23, target='_blank', rel='nofollow') }}</td>
  <td>{{ item.delay }}</td>
  <td>{{ ('&#10003;' if item.active else '&#10005;')|safe }}</td>
  <td>{{ item.visited }}</td>
  <td>{{ item.created }}</td>
</tr>
{% endmacro %}


{% block content %}
<div class="columns">
  <div class="column is-fullwidth">
    <div class="content">
      <h2>{{ title }}</h2>
      {% if form %}
      <div class="content">
        {{ findbox(form) }}
      </div>
      {% endif %}
      {% if elements and elements.items %}
      <div class="table-container">
        <table class="table is-fullwidth">
          <thead>
            {{ heading() }}
          </thead>
          <tbody>
            {% for item in elements.items %}
              {{ element(item) }}
            {% endfor %}
          </tbody>
          <tfoot>
            {{ heading() }}
          </tfoot>
        </table>
      </div>
      {% else  %}
      <div>Nothing there!</div>
      {% endif %}
    </div>
  </div>
</div>
{% if elements and elements.items %}
<div class="columns">
  <div class="column is-fullwidth">
    {{ pagination(elements) }}
  </div>
</div>
{% endif %}
{% endblock %}
