<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>{% if title and title != config.TITLE %}{{ title }} | {% endif %}{{ config.TITLE }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta name="apple-mobile-web-app-title" content="fckaf.de">
    <meta name="application-name" content="fckaf.de">
    <meta name="theme-color" content="#000000">
{% block head %}{% endblock %}
{% with symbol = ('(' ~ short.symbol ~ ')') if short and short.symbol else '' %}
{% with description = ('Ein URL Shortener — Er ist sehr gut!' ~ ' ' ~ symbol)|trim %}
    <meta name="description" content="{{ description }}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:image" content="{{ url_for('side.logo', _external=true) }}">
    <meta name="twitter:title" content="{{ config.TITLE }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:image" content="{{ url_for('side.logo', _external=true) }}">
    <meta property="og:locale" content="de_DE">
    <meta property="og:title" content="{{ config.TITLE }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ request.base_url }}">
{% endwith %}
{% endwith %}
  </head>
  <body>
<section class="section">
  <div class="container">
{% block content %}{% endblock %}
  </div>
</section>
{% include '_foot.html' %}
  </body>
</html>
