{% macro column_content(cls=none) %}
  {% with content = caller() %}
<div class="columns">
  <div class="column is-8-desktop is-offset-2-desktop">
    <div class="content{% if cls %} {{ cls }}{% endif %}">
{{ caller() }}
    </div>
  </div>
</div>
  {% endwith %}
{% endmacro %}


{% macro logo(href=none) %}
  <figure id="logo" class="image">
    {% if href %}<a rel="nofollow" href="{{ href }}" style="display: block;">{% endif %}
      <object
        data="{{ url_for('static', filename='logo.svg') }}" type="image/svg+xml"
        {% if href %}style="pointer-events: none;"{% endif %}
      >
        <img src="{{ url_for('side.logo') }}" alt="logo">
      </object>
    {% if href %}</a>{% endif %}
  </figure>
{% endmacro %}
