{% extends '_base.html' %}
{% from '_code.html' import column_content, logo %}

{% set share_mode = ('stop' in request.args or 'share' in request.args) %}

{% block head %}
{% if not share_mode %}
  {{ redirect_meta(short) }}
{% endif %}
{% endblock %}

{% block content %}
{% with share_url = url_for(
  'main.short', symb=short.symbol, stop='', _external=true
)|trim('=') %}
{% call() column_content() %}
{{ logo(none if share_mode else share_url) }}
{% endcall %}
{% call() column_content(cls='has-text-centered') %}
  <h1 class="title">{{ redirect_link(short) }}</h1>
  {% if not share_mode %}
  <div class="content">
    <a rel="nofollow" href="{{ share_url }}">
    {% with jsdelay = (100 * short.delay) %}
    <progress
      id="progress" class="progress is-link is-small"
      value="{{ jsdelay }}" max="{{ jsdelay }}"
    >
      {{ short.delay }} Sekunde{{ 'n' if short.delay != 1 }}
    </progress>
    {% endwith %}
    </a>
  </div>
  {% endif %}
{% endcall %}
{% endwith %}

{% if not share_mode %}
{{ redirect_script(short) }}
{{ progress_bar('progress') }}
{% endif %}
{% endblock %}
