{%- extends '_base.html' %}

{%- block content %}
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-8-desktop is-offset-2-desktop">
        <div class="content">
          <h3>About</h3>
          <div class="has-text-centered">
            Some things about me...
          </div>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-8-desktop is-offset-2-desktop">
        <div class="content">
          <h3>Bookmarklet</h3>
          <div class="has-text-centered">
            <div>Use this bookmarklet:</div>
            <div>
              <a href="{{ bookmarklet() }}">Add to {{ config.TITLE }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{%- endblock %}
