{% set title = 'Impressum' %}
{% extends 'page/_page.html' %}

{% block page_content %}
<h1 class="title">{{ title }}</h1>

<p>
  fckaf.de &incare;
  <br />
  Die PARTEI
  <br />
  Kopischstraße 10
  <br />
  10965 Berlin
</p>

<h2 class="subtitle">Kontakt</h2>
<p>
  E-Mail: fckafde &#64; die-partei.de
</p>

<h2 class="subtitle">EU-Streitschlichtung</h2>
<p>
  Die Europäische Kommission stellt eine Plattform zur
  Online-Streitbeilegung (OS) bereit:
  <a href="https://ec.europa.eu/consumers/odr" target="_blank" rel="noopener noreferrer">https://ec.europa.eu/consumers/odr</a>.
  <br />
  Unsere E-Mail-Adresse finden Sie oben im Impressum.
</p>


<h2 class="subtitle">Verbraucherstreitbeilegung/Universalschlichtungsstelle</h2>
<p>
  Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren
  vor einer Verbraucherschlichtungsstelle teilzunehmen.
</p>

<p>
  Quelle:
  <a href="https://www.e-recht24.de">https://www.e-recht24.de</a>
</p>
{% endblock %}
