{% set title = 'Datenschutzerklärung' %}
{% extends 'page/_page.html' %}

{% block page_content %}
<h1 class="title">{{ title }}</h1>
<p>
  Wir nehmen den Schutz personenbezogener Daten sehr ernst.
</p>
<p>
  <strong>Wir speichern daher keine personenbezogenen Daten über Dich.</strong>
</p>

<p>
  Wir unterliegen den Bestimmungen der
  <a href="https://de.wikipedia.org/wiki/Datenschutz-Grundverordnung">
  Datenschutz-Grundverordnung</a> (DSGVO), des
  <a href="https://de.wikipedia.org/wiki/Bundesdatenschutzgesetz">
  Bundesdatenschutzgesetzes</a> (BDSG) und des
  <a href="https://de.wikipedia.org/wiki/Telemediengesetz">
  Telemediengesetzes</a> (TMG).
</p>

<p>
  Sollte Dir ein Verstoß auffallen, kontaktiere bitte unseren
  Datenschutzbeauftragten (siehe unten), damit wir den Verstoß umgehend
  durch technische und organisatorische Maßnahmen korrigieren können.
</p>

<h2 class="subtitle">Erhebung und Verarbeitung von Daten</h2>
<p>
  Personenbezogene Daten sind Informationen, die genutzt werden können,
  Deine Identität zu erfahren.
</p>

<p>
  Bei der Benutzung von <a href="{{ url_for('main.index') }}">fckaf.de</a>
  fallen solche Daten grundsätzlich an:
</p>
<ul>
  <li>
    <strong>Formulardaten:</strong> Wenn Du das Formular verwendest, um eine
    URL zu kürzen, lässt die URL in der Regel keinen direkten oder indirekten
    Rückschluss auf Deine Identität zu.
  </li>
  <li>
    <strong>Metadaten:</strong> Wenn Du die Webseite besuchst, übermittelt
    Dein Browser automatisch bestimmte Informationen und lässt damit
    gegebenenfalls einen indirekten Rückschluss auf Deine Identität zu.
  </li>
</ul>

<h2 class="subtitle">Formulardaten</h2>
<p>
  <a href="{{ url_for('main.index') }}">fckaf.de</a> bietet ein Formular an,
  mit dem Du eine Kurz-URL für eine bestehende Web-Adresse generieren kannst.
</p>

<p>
  Dazu fragen wir nur die URL, die Du kürzen möchtest, ab.
  Diese wird in einer Datenbank hinterlegt.
</p>

<h2 class="subtitle">Metadaten</h2>
<p>
  Wenn Du <a href="{{ url_for('main.index') }}">fckaf.de</a> besuchst,
  sendet Dein Browser automatisch verschiedene Metadaten:
</p>


<ul>
  <li>Browsertyp und -version</li>
  <li>Betriebssystem</li>
  <li>IP-Adresse des zugreifenden Endgeräts</li>
  <li>URL der besuchten Webseite</li>
  <li>URL der zuvor besuchten Webseite</li>
  <li>Zeitpunkt des Besuchs</li>
</ul>

<p>
  Wir speichern diese Daten aber nicht und verwenden sie auch nicht in
  anderer Form. Sollte <a href="{{ url_for('main.index') }}">fckaf.de</a>
  allerdings einmal zu Straftaten missbraucht und ein Ermittlungsverfahren
  eröffnet werden, können wir möglicherweise dazu verpflichtet werden, die
  Daten ungekürzt zu speichern und an Ermittlungsbehörden oder Privatpersonen
  auszuhändigen.
</p>

<h2 class="subtitle">Cookies</h2>
<p>
  <a href="{{ url_for('main.index') }}">fckaf.de</a> verwendet sogenante
  &bdquo;Cookies&ldquo;.
  Cookies sind kleine Textdateien, die auf Deinem Rechner abgelegt werden
  und die Dein Browser auf Deinem Endgerät speichert. Sie ermöglichen es
  insbesondere, mehrere einzelne Aufrufe einer Webseite einer Sitzung
  zuzuordnen und eingegebene Daten zwischenzuspeichern.
  Sie richten auf Deinem Rechner keinen Schaden an und enthalten keine Viren.
</p>

<p>
  Wenn Du keine Cookies annehmen willst, kannst Du dies durch eine
  Browser-Einstellung verhindern. Dadurch kannst Du allerdings das
  URL-Formular nicht nutzen.
</p>

<p>
  Es werden zwei Cookies verwendet:
</p>
<ol>
  <li>
    Der Cookie &bdquo;session&ldquo; wird ausschließlich verwendet,
    um zusammengehörige Anfragen zuzuordnen.
  </li>
  <li>
    Der Cookie &bdquo;{{ config.WTF_CSRF_FIELD_NAME|d('CSRF') }}&ldquo;
    wird ausschließlich verwendet, um sogenannte
    &bdquo;Cross-Site-Request-Forgery&ldquo;-Angriffe zu verhindern.
  </li>
</ol>

<h2 class="subtitle">Auskunftsrecht</h2>
<p>
  Du hast jederzeit das Recht auf Auskunft über
</p>
<ul>
  <li>die zu Deiner Person gespeicherten Daten,</li>
  <li>deren Herkunft und Empfänger sowie,</li>
  <li>den Zweck der Speicherung.</li>
</ul>

<p>
  Wende Dich dazu bitte an unseren Datenschutzbeauftragten (siehe unten).
</p>
<p>
  <strong>
    Bitte beachte jedoch, dass wir keine Daten zu Deiner Person speichern.
  </strong>
</p>

<h2 class="subtitle">Weitere Informationen</h2>
<p>
  Wenn Du Fragen hast, die Dir diese Datenschutzerklärung nicht beantworten
  konnte, wende Dich bitte an unseren Datenschutzbeauftragten:
</p>

<h3>Datenschutzbeauftragter</h3>
<p>
  datenschutz &#64; die-partei.de
</p>
{% endblock %}
