{%- extends '_base.html' %}

{%- macro _part(text, title=none) %}
<div class="container">
  <div class="columns">
    <div class="column is-8-desktop is-offset-2-desktop">
      <div class="content">
        {%- if title %}<h3>{{ title }}</h3>{%- endif %}
        {{ text }}
      </div>
    </div>
  </div>
</div>
{%- endmacro %}

{%- macro _hint() %}
  <div>We could not find the link for this URL... Sorry.</div>
  <div>
    But you can create a
    <a href="{{ url_for('main.index') }}">new one</a>!
  </div>
{%- endmacro %}

{%- block content %}
<section class="section">
  {%- if error.code == 404 %}
    {{ _part(_hint(), 'Not found') }}
    {{ _part(error.description, none) }}
  {%- else %}
    {{ _part(error.description, 'Error') }}
  {%- endif %}
</section>
{%- endblock %}
