{%- extends '_base.html' %}

{%- block meta %}
{{ redirect_meta(short) }}
{%- endblock %}

{%- block content %}
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-8-desktop is-offset-2-desktop">
        <div class="content">
          <h3>Redirecting&hellip;</h3>
          <div class="has-text-centered">
            {{ redirect_link(short) }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="columns">
      <div class="column is-8-desktop is-offset-2-desktop">
        <div class="content">
          {%- with jsdelay = (100 * short.delay) %}
          <progress
            id="progress" class="progress is-link is-small"
            value="{{ jsdelay }}" max="{{ jsdelay }}"
          >
            {{ short.delay }} second{{ 's' if short.delay != 1 }}
          </progress>
          {%- endwith %}
        </div>
      </div>
    </div>
  </div>
</section>
{{ redirect_script(short) }}
<script>
(function(bar) {
  if (!bar) { return; }
  function decr() { bar.value--; }
  (function (val) {
    while(val--) { setTimeout(decr, 10 * val); }
  })(bar.value);
})(document.getElementById('progress'));
</script>
{%- endblock %}
